*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
:root{
    --btn_bg:rgb(20, 20, 20);
    --btn_dark_bg:rgb(30, 30, 30);
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vmin;
    background-color: black;
}
.frame{
    display: flex;
    flex-direction: column;
    background-color: black;
    animation: loading 1.5s linear 1;
    border-radius: 1rem;
    padding: 1rem;
    border: 0.5rem solid var(--btn_dark_bg);
}
.frame > h1{
    padding: 0.3em;
    text-align: center;
    font-size: 2.5rem;
    background-color: var(--btn_bg);
    height: 2em;
    border-radius: 1rem;
    border-bottom-right-radius: 0.8em;
    border-bottom-left-radius: 0.8em;
    font-family: 'Salsa', 'cursive';
}
.calc_frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: black;
    padding-block: 1rem;
}
.calc_btns{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;
    background-color: black;
    padding: 1rem;
}
.btn_group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.btn_group > button{
    font-size: 2rem;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    width: 5rem;
    height: 4rem;
    border-radius: 1rem;
    background-color: var(--btn_bg);
    color: white;
    transition: all 0.3s;
}
.btn_group > button:hover{
    transform: scale(1.1);
    transition: all 0.3s;
}
#display{
    font-size: 2rem;
    outline: none;
    padding: 0.5rem 1rem;
    text-align: right;
    border: none;
    background-color: transparent;
    color: orange;
    font-weight: bold;
}
#orange{
    color: orange;
}
.dark_bg{
    background-color: var(--btn_dark_bg);
}
@media only screen and (max-width:400px) {
    .frame{
        width: 100%;
        height: 100vmin;
        padding: 0;
        border: 0;
    }
    .calc_btns{
        padding: 0;
        gap: 0;
        justify-content: space-evenly;
    }
    .btn_group{
        gap: 1rem;
    }
    .btn_group > button{
        height: 6rem;
        width: 6rem;
    }
    #display{
        margin-top: 15rem;
        margin-bottom: 3rem;
    }
    .frame > h1{
        font-size: 3rem;
        
    }
}
@keyframes loading {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}